<!DOCTYPE html>
<html>
  <head>
    <title>Webserver</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>Navigation</p>
    <ul>
      <li><%= link_to 'Locations', location_list_url %></li>
      <li><%= link_to 'Devices', device_list_url %></li>
    </ul>
    <%= yield %>
  </body>
</html>
